.mainErrContainer {
    margin: 0 auto;
}

.errorContainer {
    margin-top: 1%;
    height: 900px;
}

.Title {
    width: 100%;
    height: 263px;
    font-weight: 700;
    font-size: 288px;
    margin: 0 auto;
}

.SubTitle {
    margin-top: 10%;
    color: rgba(255, 96, 96, 1);
}

.linkText {
    margin-top: 10%;
    text-decoration: underline;
}

/* low Screen Responsive */
@media screen and (max-width: 1480px) {}

/* Tablet Responsive */
@media screen and (max-width: 810px) {}

/* Phone Responsive */
@media screen and (max-width: 600px) {
    .mainContainer {
        max-width: 375px;
        height: 812px;
    }

    .errorContainer {
        margin-top: 50%;
        height: 500px;
    }

    .Title {
        width: 198px;
        height: 99px;
        font-size: 96px;
    }

    .SubTitle {
        font-size: 18px;
        width: 50%;
        margin: 10% auto;
    }

    .linkText {
        margin-top: 50%;
    }

}