.equipementbox {
    background-color: rgba(255, 96, 96, 1);
    width: 582px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 10px;
    padding: 0 2% 0 2%;
}

.uparrow {
    background-image: url(../../images/Logement/Vectoruparrow.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 26.4px;
}

.underEquipementbox {
    width: 582px;
    height: 249px;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.content {
    text-align: left;
    list-style: none;
    margin: 0;
}


.dd_contentEquip_open {
    height: auto;
    width: 582px;
    border-radius: 10px;
    background-color: #F7F7F7;
}

.dd_contentEquip_close {
    height: 0;
    overflow: hidden;
}


@media (max-width: 480px) {

    .globalEquipement {
        margin: 0 auto;
        margin-bottom: 5%;
    }

    .responsiveSize {
        font-size: 13px;
    }

    .imageResponsiveSizeLogement {
        width: 25px;
        height: 15px;
    }

    .responsiveSizeText {
        font-size: 12px;
    }

    .equipementbox {
        width: 335px;
        height: 29.93px;
        border-radius: 5px;
    }

    .dd_contentEquip_open {
        height: auto;
        width: 335px;
        border-radius: 10px;
        background-color: #F7F7F7;
    }

    .dd_contentEquip_close {
        height: 0;
        overflow: hidden;
    }
}


/* low Screen Responsive */
@media screen and (max-width: 1480px) {}

/* Tablet Responsive */
@media screen and (max-width: 810px) {
    .headInfo {
        margin: 0 3% 0 3%;
    }

    .title {
        font-size: 30px;
    }

    .underContainer {
        margin-top: 2%;
    }

    .dd-Container {
        width: 45%;
        margin-left: 3%;
    }

    .dd-Header {
        width: 100%;
    }

    .globalEquipement {
        width: 45%;
        margin-right: 3%;
    }

    .equipementbox {
        width: 100%;
    }

    .dd_contentDd_open {
        width: auto;
    }

    .dd_contentEquip_open {
        width: auto;
    }
}

/* Phone Responsive */
@media screen and (max-width: 600px) {
    .headInfo {
        flex-direction: column;
    }

    .rightInfo {
        flex-direction: row-reverse;
    }

    .bodyRight {
        justify-content: flex-end;
    }

    .StarContainer {
        align-self: flex-end;
        margin-right: 8%;
    }

    .star {
        width: 20px;
        height: auto;
    }

    .underContainer {
        flex-direction: column;
    }

    .dd-Container {
        margin: 0 auto;
        margin-bottom: 5%;
        width: 95%;
    }

    .globalEquipement {
        margin: 0 auto;
        width: 95%;
    }
}