h1 {
    color: rgba(255, 96, 96, 1);
}

.headInfo {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
}

.leftInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
}

.spaceabove {
    margin-top: 0;
}

.tagContainer {
    display: flex;
    gap: 2%;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 25px;
    border-radius: 10px;
    background-color: rgba(255, 96, 96, 1);
    color: white;
    font-size: 14px;
}


.rightInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5%;
}

.bodyRight {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sizeH3 {
    font-weight: 500;
    font-size: 18px;
}

.CircleImg {
    background-color: gray;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.interiorpic {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
}

.StarContainer {
    display: flex;
    gap: 3%;
    list-style: none;
    padding: 0;
}

.stars {
    align-self: flex-end;
}

@media (max-width: 480px) {

    .headInfo {
        flex-direction: column;
        margin-left: 7%;
    }

    .leftInfo {
        width: 100%;
        justify-content: flex-start;
    }

    .title {
        font-size: 18px;
    }

    .spaceabove {
        font-size: 14px;
    }

    .tags {
        border-radius: 5px;
    }

    .rightInfo {
        flex-direction: row-reverse;
    }
    .bodyRight {
        margin-left: 15%;
    }

    .sizeH3 {
        font-size: 12px;
        width: 93px;
        height: 33px;
    }
    .CircleImg {
        width: 32px;
        height: 32px;
    }
    .interiorpic {
        width: 32px;
        height: 32px;
        align-self: flex-end;
    }
    /* .stars {
    } */
}