.global-dd-container {
    margin: 0 auto;
    margin-bottom: 2%;
}

.dd_header {
    width: 1023px;
    height: 47px;
    border-radius: 5px;
    background-color: rgba(255, 96, 96, 1);
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 auto;
    padding: 1%;
}

.dd_title {
    color: white;
    margin: 0;
}

.dd_arrow {
    color: white;
}

.dd_contentbox {
    width: 1023px;
    height: 146px;
    border-radius: 5px;
    background-color: #F7F7F7;
    margin: 0 auto;
}
.dd_content {
    margin: 0;
    padding: 2%;
}

.dd_content_open {
    height: auto;
    width: 1023px;
    border-radius: 5px;
    background-color: #F7F7F7;
    margin: 0 auto;
}

.dd_content_close {
    height: 0;
    overflow: hidden;
}
@media (max-width: 480px) {

    .global-dd-container {
        margin-bottom: 5%;
    }
        
    .dd_header {
        width: 335px;
        height: 30px;
    }

    
    .dd_content_open {
        height: auto;
        width: 335px;
        border-radius: 5px;
        background-color: #F7F7F7;
        margin: 0 auto;
    }
    
    .dd_content_close {
        height: 0;
        overflow: hidden;
    }

}