/* .bodyHTML{
} */

.Gallery {
    background-color: #F7F7F7;
    max-width: 1240px;
    height: auto;
    border-radius: 25px;
    padding: 3%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

@media (max-width: 480px){
    .Gallery {
        margin-top: 5%;
    }
}