header {
    margin-bottom: 2%;
}

.mainContainer {
    max-width: 1240px;
}

.underContainer {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

/* low Screen Responsive */
@media screen and (max-width: 1480px) {}

/* Tablet Responsive */
@media screen and (max-width: 810px) {}

/* Phone Responsive */
@media screen and (max-width: 600px) {}