header{
    margin-bottom: 2%;
}

.mainContainer {
    max-width: 1240px;
}

.underContainer {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}


@media (max-width: 480px) {
    .underContainer {
        flex-direction: column;
    }   
}