footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 209px;
    margin: 0 auto;
}

.footLogo {
    width: auto;
    margin: 2% 0 1% 0;
}


h2 {
    color: white;
    font-weight: 500;
    font-size: 24px;
}

/* low Screen Responsive */
@media screen and (max-width: 1480px) {
    footer {
        padding-top: 3%;
    }
}

/* Tablet Responsive */
@media screen and (max-width: 810px) {
    footer {
        padding-top: 5%;
    }
}

/* Phone Responsive */
@media screen and (max-width: 600px) {
    footer {
        padding-top: 12%;
    }
}