* {
    text-decoration: none;
    color: rgba(255, 96, 96, 1);
    box-sizing: border-box;
}

.Header {
    max-width: 1240px;
    margin: 0 auto;
}

header {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0 5% 0;
    position: relative;
}

.headLogo {
    width: 18%;
}


nav {
    width: 20%;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: 500;
    gap: 2%;
}

.itemLink:hover {
    text-decoration: underline;
    color: rgba(255, 96, 96, 1);
}

/* low Screen Responsive */
@media screen and (max-width: 1480px) {
    nav {
        width: 30%;
    }
}

/* Tablet Responsive */
@media screen and (max-width: 810px) {
    header {
        width: auto;
        margin: 2%;
    }

    nav {
        width: 30%;
    }
}

/* Phone Responsive */
@media screen and (max-width: 600px) {
    header {
        width: auto;
        margin: 5%;
    }

    nav {
        width: 50%;
        font-size: 12px;
    }

    .headLogo {
        width: 30%;
    }

    .logoWidth {
        width: 145px;
        height: 47px;
    }
}